#work-nav{
	display: inline-block;
	width: 100%;
	padding: 5% 15%;
	overflow: hidden;
	
	@media only screen and (max-width: 768px){
		padding: 5% 8%;
	}
	
	.work-nav-btn{
		color: #333;
    	font-weight: 400;
		text-transform: uppercase;
		text-decoration: none;
    	font-size: 140%;
		letter-spacing: 1px;
    	-webkit-transition: all 0.2s;
    	-moz-transition: all 0.2s;
    	transition: all 0.2s;
		opacity: 0.7;
		
		&:hover{
			opacity: 1;
			font-weight: 500;
		}
		
		&.invalid{
			pointer-events: none;
			opacity: 0;
		}
	}
	
	article {
		display: inline-block;
    	padding: 1% 1%;
    	line-height: 40px;
		
		&.prev{
			float:left;
			width: 35%;
		}
		
		&.next{
			float:right;
			width: 35%;
			text-align: right;
		}
		
		&.prev, &.next {
			@media only screen and (max-width: 768px){
				width: 20%;	
			}
			
			@media only screen and (max-width: 500px){
				font-size: 70%;
			}
		}
		
		&.process-link-container{
			width: 30%;
			text-align: center;
			
			@media only screen and (max-width: 768px){
				width: 60%;
			}
			
			.process-link{
				padding: 10px 12px;
				border: 1px solid #333;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 120%;
				&:hover{
					background: #333;
					color: #fff;
					font-weight: 500;
				}
			}
		}
	}
}
