<div class="header">
	<nav id="home-nav" main-nav>
		<div class="heading">
			<img class="icon" src="assets/img/logoicon.png"/>
			<img class="name-logo" src="assets/img/home/name_Logo.png" />
		</div>
		<div class="nav-links">
			<a href="#/" data-target="home" class="active">work</a>
			<a href="#/about/" data-target="about">about me</a>
			<a href="assets/img/josephlee_resume.pdf" target="_blank">resume</a>
		</div>
	</nav>
	<nav id="scroll-nav">
		<div class="nav-container">
			<a class="logo" href="#/"><img class="icon" src="assets/img/logoicon.png"/></a>
			<div class="nav-links">
				<a href="#/" data-target="home" class="active">work</a>
				<a href="#/about/">about me</a>
				<a href="assets/img/josephlee_resume.pdf" target="_blank">resume</a>
				<span class="mobilebtn-cont" mobile-menu-interaction>
					<i class="mobilemenu-btn fa fa-bars"></i>
					<i class="mobilemenu-btn close fa fa-times"></i>
				</span>
			</div>
		</div>
	</nav>
	<!-- Mobile Nav -->
	<div id="mobile-nav">
		<div class="nav-links">
			<a href="#/" data-target="home">work</a>
			<a href="#/about/" data-target="about">about me</a>
			<a href="assets/img/josephlee_resume.pdf" target="_blank">resume</a>
		</div>
		<div class="footer">
			<div class="social-links">
				<a href="https://twitter.com/miingtastic" target="_blank"><img src="assets/img/footer/icons_twitter.png"/></a>
				<a href="https://www.linkedin.com/in/joseph-lee-1544a95b" target="_blank"><img src="assets/img/footer/icons_linkedin.png"/></a>
				<a href="https://instagram.com/miingtastic/" target="_blank"><img src="assets/img/footer/icons_instagram.png"/></a>
			</div>
			<span class="copyright">&copy; Joseph Lee | 2015</span>
		</div>
	</div>
</div>
