<div class="header">
	<nav id="home-nav">
		<div class="heading">
			<img class="icon" src="assets/img/logoicon.png"/>
			<img class="name-logo" src="assets/img/home/name_Logo.png" />
		</div>
		<div class="nav-links">
			<a href="#/" data-target="home" class="active">work</a>
			<a href="#/about/" data-target="about">about me</a>
			<a href="assets/img/josephlee_resume.pdf" target="_blank">resume</a>
		</div>
	</nav>
	<nav id="scroll-nav">
		<div class="nav-container">
			<a class="logo" href="#/"><img class="icon" src="assets/img/logoicon.png"/></a>
			<div class="nav-links">
				<a href="#/about/">about me</a>
				<a href="assets/img/josephlee_resume.pdf" target="_blank">resume</a>
			</div>
		</div>
	</nav>
</div>
