/* Properties */
@mixin transition($time){
	transition: all $time ease;
	-moz-transition: all $time ease;
	-webkit-transition: all $time ease-in-out;
}

@mixin slideUp($time){
	-webkit-animation: slideup $time;
	-moz-animation: slideup $time;
	-ms-animation: slideup $time;
	-o-animation: slideup $time;
}

@mixin spin($deg){
	transform: rotate($deg);
	-webkit-transform: rotate($deg);
	-moz-transform: rotate($deg);
	-ms-transform: rotate($deg);
	-o-transform: rotate($deg);
}



/* KEYFRAME ANIMATIONS ****************************/

// SLIDE UP *******************////
@-webkit-keyframes slideup{
	from {
		opacity: 0;
	   	-webkit-transform: translate(0,50%); /* Safari */
	}
	to {
		opacity: 1;
	   	-webkit-transform: translate(0,0); /* Safari */
	}
}
@-ms-keyframes slideup{
	from{
		opacity: 0;
		-ms-transform: translate(0,50%); /* IE 9 */
	}
	to{  
		opacity: 1;
		-ms-transform: translate(0,0); /* IE 9 */
	}
}
@keyframes slideup{
	from{
		opacity: 0;
		transform: translate(0,50%); 
	}
	to{ 
		opacity: 1;
		transform: translate(0,0); 
	}
}
@-moz-keyframes slideup{
	from{
		opacity: 0;
		-moz-transform: translate(0,50%);
	}
	to{ 
		opacity: 1;
		-moz-transform: translate(0,0); 
	}
}