<div id="about">
	<article class="profile">
		<img class="profile-pic" src="assets/img/home/aboutme/profilepic.png"/>
	</article>
	<h3 class="heading">Hey, I'm Joseph Lee, Joe for short!</h3>
	<section class="description">
		<p>I have a strong passion for solving creating problems, whether it'd be through a visual design or a user experience.<br/>
			The more of a challenge, the more fun I'll be having.</p>
		<p>When I'm not behind a computer pushing pixels, you could catch me either at a mountain hiking, hitting the slopes, snowboarding, or cycling around the great city of New York.</p>
		<p>Here's my <a href="assets/img/josephlee_resume.pdf" target="_blank">resume</a></p>
	</section>
	<h3 class="heading">Let's keep in touch!</h3>
</div>