<div id="cityscape" class="work-page" work-page>
	<!-- HEADER/BANNER PLACEMENT -->
	<div class="banner"
			 style="background-image: url('assets/img/cityscape/header_city scape.png') ">
		<section class="banner-text">
			<h2 class="title">City Root</h4>
			<div class="border"></div>
			<h4 class="subtitle">Data visualization / 6 weeks</h4>
		</section>
	</div>
	
	<!-- GENERAL TEXT SECTION -->
	<article class="work-sect" id="problem">
		<!-- Header -->
		<h4 class="header">HOW FAR WILL YOUR SALARY TAKE YOU?</h4>
		<div class="border"></div>
		<!-- Paragraph of text -->
		<p class="description">We move to somewhere new for different reasons: career, promotions, family. Making this move to a new city can be a scary feeling. What’s even scarier is not being fully prepared for what’s coming. Cost of living is something that everyone should consider when moving to another city.</p>
	</article>
	
	<!-- VIDEO SECTION -->
	<article class="video-sect">
		<div class="video-container">
			<iframe src="https://player.vimeo.com/video/145076972" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</article>
	
	<article class="work-sect">
		<h4 class="header">WHAT THE USER WANTS</h4>
		<div class="border"></div>
		<p class="description">What I really wanted to know is what the user actually needed to make the best decision. Using sources such as CNN Money, Zumper, and surveying many people, I’ve gathered the most useful categories for any user that is looking at cost of living.</p>
	</article>
	
	<article class="work-sect">
		<!-- this "row" class is used for mobile styling -->
		<div class="row">
			<!-- LIST ITEM -->
			<ul class="list col-md-3">
				<span class='title'>Key Features</span>
				<li>Rent</li>
				<li>Groceries</li>
				<li>Insurance</li>
				<li>Transportation</li>
				<li>Gas</li>
			</ul>
			<!-- IMAGE -->
			<div class="img-container col-md-6">
				<img src="assets/img/cityscape/icons.png"/>
			</div>
		</div>		
	</article>
	
	<article class="work-sect">
		<h4 class="header">Approach</h4>
		<div class="border"></div>
		
		<!-- SLIDER -->
		<div class="img-slider">
			<img src="assets/img/cityscape/ipad designs 1.png"/>
			<img src="assets/img/cityscape/iPad designs 2.png"/>
			<img src="assets/img/cityscape/iPad designs 3.png"/>
		</div>
	</article>
	
	<article class="work-sect">
		<h4 class="header">VISUAL DISPLAY</h4>
		<div class="border"></div>
		<p class="description">Working with this kind of information, the visual data needed to be clear and easy to understand. There were many iterations, but it all came down to a few.</p>
		<div class="row">
			<div class="img-container col-md-6">
				<img src="assets/img/cityscape/data designs 1.png"/>
			</div>
			<div class="img-container col-md-6">
				<img src="assets/img/cityscape/data designs 2.png"/>
			</div>
		</div>
	</article>
	
	<article class="work-sect">
		<h4 class="header">MAKING AN EASY MOVE</h4>
		<div class="border"></div>
		<p class="description">Moving somewhere new is never easy. There are many things to consider and a lot of costs to cover. This application shows the data that’s necessary and compares everything to your current city, just so you know what to expect. It’s a tool that’s used for help make your next big chapter in life as easy and frictionless as possible.</p>
	</article>
	
</div>