<div id="greatest-hotels-group" class="work-page">
	<!-- HEADER/BANNER PLACEMENT -->
	<div class="banner static"
			 style="background-image: url('assets/img/greatest-hotels-group/header_ghg.png') ">
		<section class="banner-text">
			<h2 class="title">Greatest Hotels Group</h4>
			<div class="border"></div>
			<h4 class="subtitle">Rebrand and website redesign / 16 weeks</h4>
		</section>
	</div>
	
	<!-- GENERAL TEXT SECTION -->
	<article class="work-sect" id="problem">
		<!-- Header -->
		<h4 class="header">A SEARCH FOR LUXURY</h4>
		<div class="border"></div>
		<!-- Paragraph of text -->
		<p class="description">Taking the standards out of regular hotel booking, Greatest Hotels Group creates a more luxurious and personal experience. With rich content and beautiful images that capture each hotel, our users are being brought more than just hotels on a </p>
		<!-- SLIDER -->
		<div class="img-slider">
			<img src="assets/img/greatest-hotels-group/mac_mockup 1.png"/>
			<img src="assets/img/greatest-hotels-group/mac_mockup 2.png"/>
			<img src="assets/img/greatest-hotels-group/mac_mockup 3.png"/>
			<img src="assets/img/greatest-hotels-group/mac_mockup 4.png"/>
		</div>
	</article>
	
	<article class="work-sect" id="user-profile">
		<h4 class="header">USER PROFILES</h4>
		<div class="border"></div>
		<!-- Double Column Text -->
		<div class="double-column">
			<div class="row">
				<div class="left-column col-md-6">
					<h4 class="header">Age</h4>
					<p class="description">The range for our users’ age would be on an average of the 40s - 60s.</p>
				</div>
				<div class="right-column col-md-6">
					<h4 class="header">HIGH INCOME</h4>
					<p class="description">Our target users make have a large amount of income ranging between $80k - $120k.</p>
				</div>
			</div>
			<div class="row">
				<div class="left-column col-md-6">
					<h4 class="header">GENDER</h4>
					<p class="description">The users here are mostly male dominant.</p>
				</div>
				<div class="right-column col-md-6">
					<h4 class="header">FAMILY</h4>
					<p class="description">Generally, our users would have a family with at least a couple of kids.</p>
				</div>
			</div>
		</div>
	</article>
	
	<article class="work-sect" id="taxanomy">
		<h4 class="header">TAXONOMY MAP</h4>
		<div class="border"></div>
		<div class="img-container">
			<img src="assets/img/greatest-hotels-group/taxonomy_map.png"/>
		</div>
	</article>
	
	<article class="work-sect" id="wireframe">
		<h4 class="header">WIREFRAMES</h4>
		<div class="border"></div>
		<p class="description">The focus for these designs were based off of the imagery that Google Business Photos was able to provide for us. With these beautiful images, the user can fully feel and see how a hotel is. The challenge was to find that sweet spot between showing too much information or too little. The images chosen would help remedy this seeing as how images can say a lot.</p>
		<!-- SLIDER -->
		<div class="img-slider">
			<img src="assets/img/greatest-hotels-group/wireframes1.png"/>
			<img src="assets/img/greatest-hotels-group/wireframes2.png"/>
		</div>
	</article>
	
	<article class="work-sect" id="final-designs">
		<h4 class="header">FINAL DESIGNS</h4>
		<div class="border"></div>
		<p class="description">he thought behind these designs was to generate a feeling of comfort and confidence from our users to make their best decision. Google Business Photos has played a very big role in this as these designs are heavy in imagery. With this, and the help of our key features, we help inform our users so that they never think twice.</p>
		<!-- SLIDER -->
		<div class="img-slider">
			<img src="assets/img/greatest-hotels-group/finaldesign1.png"/>
			<img src="assets/img/greatest-hotels-group/finaldesign2.png"/>
		</div>
	</article>
	
</div>