<div id="kibbutz" class="work-page">
	<!-- HEADER/BANNER PLACEMENT -->
	<div class="banner static"
			 style="background-image: url('assets/img/kibbutz/header_kibbutz.png') ">
		<section class="banner-text">
			<h2 class="title">Kibbutz</h4>
			<div class="border"></div>
			<h4 class="subtitle">Product Design / 20 weeks</h4>
		</section>
	</div>
	
	<!-- GENERAL TEXT SECTION -->
	<article class="work-sect" id="problem">
		<!-- Header -->
		<h4 class="header">HOW CAN WE BRING PEOPLE MORE MONEY?</h4>
		<div class="border"></div>
		<!-- Paragraph of text -->
		<p class="description">Twice a year, Intuit holds a hackathon called Codechella in their San Diego office. Teams consisted of engineers, designers, and program managers. We were all given one problem: “How can we bring people more money?”.</p>
	</article>
	
	<!-- VIDEO SECTION -->
	<article class="video-sect">
		<div class="video-container">
			<iframe src="https://player.vimeo.com/video/145077169" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</article>
	
	<!-- GENERAL TEXT SECTION -->
	<article class="work-sect">
		<!-- Header -->
		<h4 class="header">IDEATION AND RESEARCH</h4>
		<div class="border"></div>
		<!-- Paragraph of text -->
		<p class="description">After the hackathon event, senior leadership wanted us to pursue our idea and have our team continue working on this project. We gathered and regrouped to have a better approach on how to fully build this application. This is when focused on what features were necessary and how we would implement them for our users.</p>
		<div class="img-container">
			<img src="assets/img/kibbutz/Process-photos.jpg"/>
		</div>
	</article>
	
	<article class="work-sect">
		<!-- Header -->
		<h4 class="header">KEY TAKEAWAYS</h4>
		<div class="border"></div>
		<!-- Double Column Text -->
		<div class="double-column">
			<div class="row">
				<p class="left-column col-md-4">CURATED CONTENT</p>
				<p class="right-column col-md-6">We didn’t want our users to feel overwhelmed with items they didn’t want. Our team decided that we would have them  choose what they can see so that they never feel like they’re advertisements.</p>
			</div>
			<div class="row">
				<p class="left-column col-md-4">SMALL BUSINESSES</p>
				<p class="right-column col-md-6">One great reason working with Intuit is the ecosystem that they have. We wanted to utilize the customers on QuickBooks Online and help promote their small businesses through our application.</p>
			</div>
			<div class="row">
				<p class="left-column col-md-4">SAVE MORE MONEY</p>
				<p class="right-column col-md-6">In the end, our main goal was to help people put more money back into their pockets. We wanted to help inform our users of every dollar they could save and be able to manage it from there.</p>
			</div>
		</div>
	</article>
	
	<article class="work-sect">
		<!-- Header -->
		<h4 class="header">Target users</h4>
		<div class="border"></div>
		<!-- Double Column Text -->
		<div class="sub-sect">
			<div class="row">
				<div class="mini-sect col-md-7">
					<h4 class="header">Monica Miyasato</h4>
					<p class="description">Monica loves to travel and shops regularly at her favorite stores. Since she’s always shopping, she looks for deals almost everyday and says “it feels so good when I find one.” It gives her a sense of accomplishment knowing that she has saved money.</p>
				</div>
				<div class="col-md-3">
					<img src="assets/img/kibbutz/targetUser_monica.jpg"/>
				</div>
			</div>
			<div class="row">
				<div class="mini-sect col-md-7">
					<h4 class="header">Amy Mccalistr</h4>
					<p class="description">Amy is a big shopper and always looking out for deals to help her out. Very organized about what she may purchase, using spreadsheets and documentation to compare prices. She also uses applications like Groupon, Livingsocial, and Retailmenot.</p>
				</div>
				<div class="col-md-3">
					<img src="assets/img/kibbutz/targetUser_amy.png"/>
				</div>
			</div>
		</div>
	</article>
	
	<article class="work-sect">
		<h4 class="header">Wireframes</h4>
		<div class="border"></div>
		<!-- SLIDER -->
		<div class="img-slider">
			<img src="assets/img/kibbutz/wireframe_wireframe 1.png"/>
			<img src="assets/img/kibbutz/wireframe_wireframe 2.png"/>
		</div>
	</article>
	
	<article class="work-sect">
		<h4 class="header">Final designs</h4>
		<div class="border"></div>
		<!-- SLIDER -->
		<div class="img-slider">
			<img src="assets/img/kibbutz/Visual comps 1.png"/>
			<img src="assets/img/kibbutz/Visual comps 2.png"/>
		</div>
	</article>
	
	<article class="work-sect">
		<!-- Header -->
		<h4 class="header">Team members</h4>
		<div class="border"></div>
		
		<!-- Double Column Text -->
		<div class="double-column">
			<div class="row">
				<div class="left-column col-md-3">
					<h4 class="header">Akshay Jain</h4>
					<p class="description">iOS Developer</p>
				</div>
				<div class="right-column col-md-3">
					<h4 class="header">Joseph Lee</h4>
					<p class="description">Interaction Designer</p>
				</div>
			</div>
			<div class="row">
				<div class="left-column col-md-3">
					<h4 class="header">Akshara Chopra</h4>
					<p class="description">Visual Designer</p>
				</div>
				<div class="right-column col-md-3">
					<h4 class="header">Katelyn Block</h4>
					<p class="description">Interaction Designer</p>
				</div>
			</div>
			<div class="row">
				<div class="left-column col-md-3">
					<h4 class="header">Chris Flood</h4>
					<p class="description">Back End Services</p>
				</div>
				<div class="right-column col-md-3">
					<h4 class="header">NIRAJ KATKAMWAR</h4>
					<p class="description">Back End Services</p>
				</div>
			</div>
			<div class="row">
				<div class="left-column col-md-3">
					<h4 class="header">Evan Francis</h4>
					<p class="description">iOS Developer</p>
				</div>
				<div class="right-column col-md-3">
					<h4 class="header">Mark Millstein</h4>
					<p class="description">Back End Services</p>
				</div>
			</div>
		</div>
	</article>
	
</div>